{% extends 'base.html.twig' %}

{% block title %}{{ editPlayer is defined ? 'Edit' : 'Add' }} player{% endblock %}

{% block body %}
    <p><a href="{{ path('home') }}">BACK TO HOME PAGE</a></p>
    <p><a href="{{ path('player_list') }}">LIST OF PLAYERS</a></p>

    <input id="playerID" value="{{ editPlayer is defined ? editPlayer.getPlayerID() : '' }}" hidden>

    <label for="firstName">First name</label>
    <input type="text" id="firstName" value="{{ editPlayer is defined ? editPlayer.getFirstName() : '' }}"><br>

    <label for="lastName">Last name</label>
    <input type="text" id="lastName" value="{{ editPlayer is defined ? editPlayer.getLastName() : '' }}"><br>

    <label for="jmbg">JMBG</label>
    <input type="text" id="jmbg" value="{{ editPlayer is defined ? editPlayer.getJmbg() : '' }}"><br>

    <label for="dateOfBirth">Date of birth</label>
    <input type="date" id="dateOfBirth"
           value="{{ editPlayer is defined ? editPlayer.getDateOfBirthString() : '' }}"><br>

    <label for="positions">Position</label>
    <select id="position">
        {% for position in positions %}
            {% if editPlayer is defined %}
                <option value="{{ position }}" {{ position == editPlayer.getPositions() ? 'selected' : '' }}>{{ position }}</option>
            {% else %}
                <option value="{{ position }}">{{ position }}</option>
            {% endif %}
        {% endfor %}
    </select><br>

    <label for="place">Place</label>
    <select id="place">
        {% for place in places %}
            {% if editPlayer is defined %}
                <option value="{{ place.getPlaceID() }}" {{ place.getPlaceID() == editPlayer.getPlace().getPlaceID() ? 'selected' : '' }}>{{ place.getName() }}</option>
            {% else %}
                <option value="{{ place.getPlaceID() }}">{{ place.getName() }}</option>
            {% endif %}
        {% endfor %}
    </select><br>

    <label for="club">Club</label>
    <select id="club">
        {% for club in clubs %}
            {% if editPlayer is defined %}
                <option value="{{ club.getClubID() }}" {{ club.getClubID() == editPlayer.getClub().getClubID() ? 'selected' : '' }}>{{ club.getName() }}</option>
            {% else %}
                <option value="{{ club.getClubID() }}">{{ club.getName() }}</option>
            {% endif %}
        {% endfor %}
    </select><br>

    <label for="photo">Photo</label>
    <input id="photo" type="file" onchange="preparePhoto()"><br><br>

    <button id="add-player"
            onclick="{{ editPlayer is defined ? 'editPlayer()' : 'addPlayer()' }}">{{ editPlayer is defined ? "Edit" : "Add" }}
        player
    </button>

    <!--<button onclick="postPhoto()">Photo test</button>-->

    <p id="error"></p>
{% endblock %}

{% block myJavascripts %}
    <script>
        let image64 = "";
        let name;

        function preparePhoto() {
            const file = document.querySelector('input[type=file]').files[0];
            const reader = new FileReader();
            reader.addEventListener("load", function () {
                image64 = reader.result;
            }, false);
            if (file) {
                reader.readAsDataURL(file);
            }
        }

        function postPhoto() {
            $.post("{{ path("post_photo") }}", {'photo': image64}, function () {
            });
        }

        function addPlayer() {
            let firstName = $('#firstName').val();
            let lastName = $('#lastName').val();
            let jmbg = $('#jmbg').val();
            let dateOfBirth = $('#dateOfBirth').val();
            let position = $('#position').val();
            let place = $('#place').val();
            let club = $('#club').val();

            if (firstName === "" || lastName === "" || jmbg === "" || dateOfBirth === "" || position === "" || place === "" || club === "" || image64 === "") {
                $('#error').html("Please enter all of the fields.");
            } else {
                $.post("{{ path('post_player') }}", {
                    data: {
                        firstName: firstName,
                        lastName: lastName,
                        jmbg: jmbg,
                        dateOfBirth: dateOfBirth,
                        position: position,
                        placeID: place,
                        clubID: club,
                        base64: image64
                    }
                }, function (data) {
                    let obj = JSON.parse(data);
                    if (obj['playerID']) {
                        alert("New place was successfully added!");
                        window.location.replace("{{ path('player_list') }}")
                    } else {
                        alert("There was an error while adding new place.");
                    }
                })
            }
        }

        function editPlayer() {
            let firstName = $('#firstName').val();
            let lastName = $('#lastName').val();
            let jmbg = $('#jmbg').val();
            let dateOfBirth = $('#dateOfBirth').val();
            let position = $('#position').val();
            let place = $('#place').val();
            let club = $('#club').val();
            if (firstName === "" || lastName === "" || jmbg === "" || dateOfBirth === "" || position === "" || place === "" || club === "") {
                $('#error').html("Please enter all of the fields.");
            } else {
                $.post("{{ path('edit_player') }}", {
                    data: {
                        playerID: $('#playerID').val(),
                        firstName: firstName,
                        lastName: lastName,
                        jmbg: jmbg,
                        dateOfBirth: dateOfBirth,
                        position: position,
                        placeID: place,
                        clubID: club
                    }
                }, function (data) {
                    let obj = JSON.parse(data);
                    if (obj['playerID']) {
                        alert("Player was successfully edited!");
                        window.location.replace("{{ path('player_list') }}")
                    } else {
                        alert("There was an error while editing this player.");
                    }
                })
            }
        }
    </script>
{% endblock %}