{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome!</h1>
    <h2>Options:</h2>
    <table>
        <tr>
            <td>Players</td>
            <td><a href="{{ path('player_list') }}">List</a></td>
            <td><a href="{{ path('add_player') }}">Add</a></td>
        </tr>
        <tr>
            <td>Clubs</td>
            <td><a href="{{ path('club_list') }}">List</a></td>
            <td><a href="{{ path('add_club') }}">Add</a></td>
        </tr>
        <tr>
            <td>Games</td>
            <td><a href="{{ path('game_list') }}">List</a></td>
            <td><a href="{{ path('add_game') }}">Add</a></td>
        </tr>
        <tr>
            <td>Places</td>
            <td><a href="{{ path('place_list') }}">List</a></td>
            <td><a href="{{ path('add_place') }}">Add</a></td>
        </tr>
    </table>
{% endblock %}