{% extends 'base.html.twig' %}

{% block title %}Hello UtakmicaController!{% endblock %}

{% block body %}
    <table>
        <th>
        <td>Domacin</td>
        <td>Gost</td>
        <td>Rezultat</td>
        <td>Takmičenje</td>
        <td>Datum odigravanja</td>
        <td></td>
        <td></td>
        </th>
        {% for utakmica in utakmice %}
            <tr>
                <td>{{ utakmica.getDomacin.getNaziv() }}</td>
                <td>{{ utakmica.getGost.getNaziv() }}</td>
                <td>{{ utakmica.getRezultat() }}</td>
                <td>{{ utakmica.getTakmicenje.getNaziv() }}</td>
                <td>{{ utakmica.getDatumOdigravanja() | date('d/m/Y') }}</td>
                <td>Izmeni</td>
                <td>Obriši</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
