{% extends 'base.html.twig' %}

{% block title %}{{ editPlace is defined ? 'Edit' : 'Add' }} place{% endblock %}

{% block body %}
    <p><a href="{{ path('home') }}">BACK TO HOME PAGE</a></p>
    <p><a href="{{ path('place_list') }}">LIST OF PLACES</a></p>
    <input id="placeID" hidden value="{{ editPlace is defined ? editPlace.getPlaceID() : '' }}">
    <label for="ptt">PTT</label>
    <input type="number" id="ptt" value="{{ editPlace is defined ? editPlace.getPtt() : '' }}">
    <br><br>
    <label for="name">Name</label>
    <input type="text" id="name" value="{{ editPlace is defined ? editPlace.getName() : '' }}">
    <br><br>
    <button id="add-place" onclick="{{ editPlace is defined ? 'editPlace()' : 'addPlace()' }}">{{ editPlace is defined ? 'Edit' : 'Add' }} place</button>
    <p id="error"></p>
{% endblock %}

{% block myJavascripts %}
    <script>
        function addPlace(){
            let ptt = $('#ptt').val().trim();
            let name = $('#name').val().trim();
            if(ptt === "" || name === ""){
                $('#error').html("Please enter all of the fields.");
            } else {
                $.post("{{ path('post_place') }}", {data: {
                        ptt: parseInt(ptt),
                        name: name
                    }}, function (data){
                    let obj = JSON.parse(data);
                    if(obj['placeID']){
                        alert("New place was successfully added!");
                        window.location.replace("{{ path('place_list') }}")
                    } else {
                        alert("There was an error while adding new place.");
                    }
                })
            }
        }

        function editPlace(){
            let ptt = $('#ptt').val().trim();
            let name = $('#name').val().trim();
            if(ptt === "" || name === ""){
                $('#error').html("Please enter all of the fields.");
            } else {
                $.post("{{ path('edit_place') }}", {data: {
                        placeID: $('#placeID').val(),
                        ptt: parseInt(ptt),
                        name: name
                    }}, function (data){
                    let obj = JSON.parse(data);
                    if(obj['placeID']){
                        alert("Place was successfully edited!");
                        window.location.replace("{{ path('place_list') }}")
                    } else {
                        alert("There was an error while editing this place.");
                    }
                })
            }
        }
    </script>
{% endblock %}
