{% extends 'base.html.twig' %}

{% block title %}Place list{% endblock %}

{% block body %}
    <p><a href="{{ path('home') }}">BACK TO HOME PAGE</a></p>
    <p><a href="{{ path('add_place') }}">ADD NEW PLACE</a></p>
    <table>
        <th>
            <td>PTT</td>
            <td>Name</td>
            <td></td>
            <td></td>
        </th>
        {% for place in places %}
            <tr id="row-{{ place.getPlaceID() }}">
                <td>{{ place.getPtt() }}</td>
                <td>{{ place.getName() }}</td>
                <td><a href="{{ path('get_edit_place', {'id': place.getPlaceID()}) }}">Edit</a></td>
                <td onclick="deletePlace({{ place.getPlaceID() }}, 'row-{{ place.getPlaceID() }}');">Delete</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block myJavascripts %}
    <script>
        function deletePlace(id, row){
            if (confirm("You are about to delete this place.")) {
                $.ajax({
                url: "{{ path('delete_place') }}",
                type: 'POST',
                dataType: 'json',
                data: {
                    'id': id
                },
                success: function(){
                    $('#'+row).remove();
                }
            })
            }
        }
    </script>
{% endblock %}