{% extends 'base.html.twig' %}

{% block title %}Club list{% endblock %}

{% block body %}
    <p><a href="{{ path('home') }}">BACK TO HOME PAGE</a></p>
    <p><a href="{{ path('add_club') }}">ADD NEW CLUB</a></p>
    <table>
        <thead>
            <td>Name</td>
            <td>Place</td>
            <td></td>
            <td></td>
        </thead>
        {% for club in clubs %}
            <tbody>
                <tr id="row-{{ club.getClubID() }}">
                    <td>{{ club.getName() }}</td>
                    <td>{{ club.getPlace.getName() }}</td>
                    <td><a href="{{ path("get_edit_club", {'id': club.getClubID }) }}">Edit</a></td>
                    <td onclick="deleteClub({{ club.getClubID }}, 'row-{{ club.getClubID }}');">Delete</td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}

{% block myJavascripts %}
    <script>
        function deleteClub(id, row){
            if (confirm("You are about to delete this club.")) {
                $.ajax({
                    url: "{{ path('delete_club') }}",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'id': id
                    },
                    success: function(){
                        $('#'+row).remove();
                        alert("Club was successfully deleted!");
                    }
                })
            }
        }
    </script>
{% endblock %}
