{% extends 'base.html.twig' %}

{% block title %}{{ editPerformance is defined ? 'Edit' : 'Add' }} performance{% endblock %}

{% block body %}

    <p><a href="{{ path('home') }}">BACK TO HOME PAGE</a></p>
    <p><a href="{{ path('performance_list') }}">LIST OF PERFORMANCES</a></p>

    <input id="perfID" hidden value="{{ editPerformance is defined ? editPerformance.performanceID : '' }}">

    <input id="gameID" hidden value="{{ editPerformance is defined ? editPerformance.game.gameID : '' }}">
    <label for="game">Game</label>
    {% if editPerformance is defined %}
        <select id="game" disabled>
            <option></option>
        </select><br>
    {% else %}
        <select id="game" onchange="getPlayers()"></select><br>
    {% endif %}

    <input id="playerID" hidden value="{{ editPerformance is defined ? editPerformance.player.playerID : '' }}">
    <label for="player">Player</label>
    {% if editPerformance is defined %}
        <select id="player" disabled>
            <option></option>
        </select><br>
    {% else %}
        <select id="player"></select><br>
    {% endif %}

    <label for="rating">Player rating</label>
    <input type="number" id="rating" value="{{ editPerformance is defined ? editPerformance.playerRating : '' }}"><br>
    <br>

    <button onclick="{{ editPerformance is defined ? 'editPerformance()' : 'addPerformance()' }}">{{ editPerformance is defined ? 'Edit' : 'Add' }}
        performance
    </button>

    <p id="error"></p>
{% endblock %}

{% block myJavascripts %}
    <script>
        let games = [];
        let homeID;
        let awayID;

        $(document).ready(function () {
            $('#error').html("Please wait until all boxes are filled.");
            $.get("{{ path('get_all_games') }}", function (data) {
                games = JSON.parse(data);
                for (const game in games) {
                    let gameDetails = games[game]['clubsPlayed'] + " " + games[game]['result'] + " (" + games[game]['gameDateString'] + ")";
                    $("#game").append(new Option(gameDetails, games[game]['gameID']));
                    if (game == 0) {
                        $("#game").val(games[game]['gameID']);
                        getPlayers();
                    }
                    if (games[game]['gameID'] == $('#gameID').val()) {
                        $("#game").val(games[game]['gameID']);
                    }
                }
            });
        });

        function getPlayers() {
            const gameID = $('#game').val();
            for (const game in games) {
                if ($('#gameID').val() != "" && $('#gameID').val() == games[game]['gameID']) {
                    homeID = games[game]['homeID'];
                    awayID = games[game]['awayID'];
                } else if (games[game]['gameID'] == gameID) {
                    homeID = games[game]['homeID'];
                    awayID = games[game]['awayID'];
                }
            }
            $.post("{{ path('get_all_players_game') }}",
                {
                    game:
                        {
                            homeID: homeID,
                            awayID: awayID
                        }
                },
                function (data) {
                    let players = JSON.parse(data);
                    $("#player").children().remove();
                    for (const player in players) {
                        $("#player").append(new Option(players[player]['fullName'] + " (" + players[player]['clubName'] + ")", players[player]['playerID']));
                        if (player == 0) {
                            $("#player").val(players[player]['playerID']);
                        }
                        if (players[player]['playerID'] == $('#playerID').val()) {
                            $("#player").val(players[player]['playerID'])
                        }
                        $('#error').html("");
                    }

                });
        }

        function addPerformance() {
            let game = $('#game').val();
            let player = $('#player').val();
            let rating = $('#rating').val();
            if (game == "" || player == "" || rating == "") {
                $('#error').html("Please enter all of the fields");
            } else {
                $.post("{{ path('post_performance') }}", {
                    data: {
                        game: game,
                        player: player,
                        rating: rating
                    }
                }, function (data) {
                    let obj = JSON.parse(data);
                    if (obj['performanceID']) {
                        alert("New performance was successfully added!");
                        window.location.replace("{{ path('performance_list') }}")
                    } else {
                        alert("There was an error while adding new performance.");
                    }
                });
            }
        }

        function editPerformance() {
            let rating = $('#rating').val();
            if (rating == "") {
                $('#error').html("Please enter all of the fields");
            } else {
                $.post("{{ path('edit_performance') }}", {
                    data: {
                        perfID: $('#perfID').val(),
                        rating: rating
                    }
                }, function (data) {
                    let obj = JSON.parse(data);
                    if (obj['performanceID']) {
                        alert("Performance was successfully edited!");
                        window.location.replace("{{ path('performance_list') }}")
                    } else {
                        alert("There was an error while editing new performance.");
                    }
                });
            }
        }
    </script>
{% endblock %}
