{% extends 'base.html.twig' %}

{% block title %}Performance list{% endblock %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <p><a href="{{ path('home') }}">BACK TO HOME PAGE</a></p>
        <p><a href="{{ path('add_performance') }}">ADD NEW PERFORMANCE</a></p>
    {% endif %}
    <table>
        <th>
        <td>Player</td>
        <td>Rating</td>
        <td>Players club</td>
        <td>Opposition club</td>
        <td>Result</td>
        <td>Competition</td>
        <td>Date</td>
        {% if is_granted("ROLE_ADMIN") %}
            <td></td>
            <td></td>
        {% endif %}
        </th>
        {% for performance in performances %}
            <tr id="row-{{ performance.getPerformanceID() }}">
                <td>{{ performance.getPlayer().getFullName() }}</td>
                <td>{{ performance.getPlayerRating() }}</td>
                <td>{{ performance.getPlayer().getClub().getName() }}</td>
                <td>{{ performance.getGame().getHome().getName() !=  performance.getPlayer().getClub().getName() ?
                    performance.getGame().getHome().getName() : performance.getGame().getAway().getName() }}</td>
                <td>{{ performance.getGame().getHome().getName() ==  performance.getPlayer().getClub().getName() ?
                    performance.getGame().getResult() : performance.getGame().getInverseResult() }}</td>
                <td>{{ performance.getGame().getCompetition().GetCompetitionName() }}</td>
                <td>{{ performance.getGame().getGameDate() | date('d/m/Y') }}</td>
                {% if is_granted("ROLE_ADMIN") %}
                    <td><a href="{{ path('get_edit_performance', {'id': performance.getPerformanceID()}) }}">Edit</a>
                    </td>
                    <td onclick="deletePerformance({{ performance.getPerformanceID }}, 'row-{{ performance.getPerformanceID() }}');">
                        Delete
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block myJavascripts %}
    <script>
        function deletePerformance(id, row) {
            if (confirm("You are about to delete this performance.")) {
                $.ajax({
                    url: "{{ path('delete_performance') }}",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'id': id
                    },
                    success: function () {
                        $('#' + row).remove();
                        alert("Performance was successfully deleted!");
                    }
                })
            }
        }
    </script>
{% endblock %}