{% extends 'base.html.twig' %}

{% block title %}Performance list{% endblock %}

{% block body %}
    <p><a href="{{ path('home') }}">BACK TO HOME PAGE</a></p>
    <p><a href="{{ path('add_performance') }}">ADD NEW PERFORMANCE</a></p>
    <table>
        <th>
        <td>Player</td>
        <td>Rating</td>
        <td>Players club</td>
        <td>Opposition club</td>
        <td>Result</td>
        <td>Competition</td>
        <td>Date</td>
        <td></td>
        <td></td>
        </th>
        {% for performance in performances %}
            <tr>
                <td>{{ performance.getPlayer().getFullName() }}</td>
                <td>{{ performance.getPlayerRating() }}</td>
                <td>{{ performance.getPlayer().getClub().getName() }}</td>
                <td>{{ performance.getGame().getHome().getName() !=  performance.getPlayer().getClub().getName() ?
                    performance.getGame().getHome().getName() : performance.getGame().getAway().getName() }}</td>
                <td>{{ performance.getGame().getHome().getName() ==  performance.getPlayer().getClub().getName() ?
                    performance.getGame().getResult() : performance.getGame().getInverseResult() }}</td>
                <td>{{ performance.getGame().getCompetition().GetCompetitionName() }}</td>
                <td>{{ performance.getGame().getGameDate() | date('d/m/Y') }}</td>
                <td><a href="{{ path('get_edit_performance', {'id': performance.getPerformanceID()}) }}">Edit</a></td>
                <td>Delete</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block myJavascripts %}
{% endblock %}